doctype html
html(ng-app="tarchive")
	include components/head


	body(ng-controller="CoreController")
		include components/navbar

		.container
			h1 {{kek}}
			.row(ng-if="content == 'table'")
				include components/table
			.row(ng-if="content == 'graph'")
				h1 graph


		//- include components/footer
