.navbar.navbar-default.navbar-footer.navbar-fixed-bottom
  .container
    p.navbar-text.pull-left Copyright (c) 2017&nbsp;
      a(href="https://github.com/fuerbringer/Tarchivebot/graphs/contributors" target="_blank") Contributors
      span &nbsp;All Rights Reserved.
