head
  title!= title

  // Fonts
  link(href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

  // JS Files
  script(src="/js/min/master.min.js")

  link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

  // ng-table
  link(rel="stylesheet" href="//unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css")

  // Regular JS libraries
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha256-iXUYfkbVl5itd4bAkFH5mjMEN5ld9t3OHvXX3IU8UxU=" crossorigin="anonymous")


  // Stylesheets
  link(rel='stylesheet', href='/css/main.css')

  // Favicons
  include favicons
