head
  title!= title

  // Fonts
  link(href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

  // JS Files
  script(src="/js/min/master.min.js")

  // Stylesheets
  link(rel='stylesheet', href='/css/min/master.min.css')

  // Favicons
  include favicons
