head
  title!= title

  // Fonts
  link(href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

  // Angular
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js" integrity="sha256-NoWL4g6vRp92c63AHksEBusn/GJB4UQpmVRRUay3FuU=" crossorigin="anonymous")

  // jQuery
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")

  // Sweetalert
  script(src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" integrity="sha256-egVvxkq6UBCQyKzRBrDHu8miZ5FOaVrjSqQqauKglKc=" crossorigin="anonymous")
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha256-iXUYfkbVl5itd4bAkFH5mjMEN5ld9t3OHvXX3IU8UxU=" crossorigin="anonymous")

  // Bootstrap
  link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

  // JS Files
  script(src="/js/core.js")

  // Stylesheets
  link(rel='stylesheet', href='/css/main.css')
