nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#tarchive-nav" aria-expanded="false")
        span.sr-only Toggle Nav
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") Tarchivepanel
    .collapse.navbar-collapse(id="tarchive-nav")
      ul.nav.navbar-nav
        //- li.active
        li
          a(href="#" ng-click="content = 'table'") Table
        li
          a(href="#" ng-click="content = 'graph'") Fancy Graph



      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") About
        li
          //- TODO: try add GH icon
          a(href="https://github.com/fuerbringer/Tarchivebot" target="_blank") Source
